body {
  background: #000;
  font-family: 'Open Sans', sans-serif;
  background: url(assets/bg.9a30e6c6c75344e5bd217bbe9720ef3e.png);
  margin: 0;
  padding: 0;
}
.main-container {
  margin: 0 auto;
  max-width: 800px;
  -webkit-box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.75);
}
.main-container .image-container {
  position: relative;
  line-height: 0;
  -webkit-box-shadow: inset 0px 0px 31px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 31px -6px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 31px -6px rgba(0, 0, 0, 0.75);
}
.main-container .image-container:hover,
.main-container .image-container:active {
  transition: 0.5s ease-out all;
}
.main-container .image-container:hover .image-item,
.main-container .image-container:active .image-item {
  max-height: 600px;
}
.main-container .image-container:hover .actions,
.main-container .image-container:active .actions {
  visibility: visible;
  opacity: 1;
}
.main-container .image-container .image-item {
  width: 100%;
  max-height: 20vh;
  object-fit: cover;
  transition: 0.5s ease-in all;
}
.main-container .image-container .actions {
  position: absolute;
  z-index: 10;
  right: 5px;
  bottom: 9px;
  visibility: hidden;
  transition: 0.5s ease-out all;
  opacity: 0;
}
.main-container .image-container .actions .btn {
  padding: 15px 25px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}
.main-container .image-container .actions .btn:hover {
  background: rgba(0, 0, 0, 0.9);
}
.main-container .image-container .actions .btn:active,
.main-container .image-container .actions .btn:focus {
  outline: none;
}
.main-container .image-container.load-more {
  background: #263238;
  text-align: center;
  color: #fff;
  padding: 40px 0;
  cursor: pointer;
}
.main-container .image-container.load-more:hover {
  background: #37474F;
}
