.image-container {
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    line-height: 0;

    &:hover, &:active {
        transition: 0.5s ease-out all;

        .image-item {
            max-height: 600px;
        }

        .actions {
            visibility: visible;
            opacity: 1;
        }
    }

    .image-item {
        width: 100%;
        max-height: 20vh;
        object-fit: cover;
        transition: 0.5s ease-in all;
    }

    .actions {
        position: absolute;
        z-index: 10;
        right: 5px;
        bottom: 9px;
        visibility: hidden;
        transition: 0.5s ease-out all;
        opacity: 0;

        .btn {
            padding: 15px 25px;
            background: rgba(0,0,0,0.5);
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 18px;
            border-radius: 5px;

            &:hover {
                background: rgba(0,0,0,0.9);
            }

            &:active, &:focus {
                outline: none;
            }
        }
    }
}